.row{
    display: flex;
    flex-wrap: wrap;

}
.left img{
    width: 45vw;
    height: 50vh;
    margin: 7em 2em 4em 1em;
}
.content{
    padding-top: 7em;
    width: 50%;
}

.content h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0.9em;
    color:#272d50 ;
}
.content p{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em 2em 2em 3em;
    color:#272d50 ;
    width: 50vw;
}